<ion-item-divider color="secondary" style="padding-top: 0px;">
  <ion-label>
    Fabricante
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-label position="floating">Referencia</ion-label>
  <ion-input type="text" name="referencia" [(ngModel)]="elemento.fabricante.referencia"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Precio</ion-label>
  <ion-input type="number" name="precio" [(ngModel)]="elemento.fabricante.precio"></ion-input>
  <ion-icon name="logo-euro" slot="end"></ion-icon>
</ion-item>
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text" name="nombre" [(ngModel)]="elemento.fabricante.nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Direccion</ion-label>
  <ion-input type="text" name="direccion" [(ngModel)]="elemento.fabricante.direccion"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Url</ion-label>
  <ion-input type="text" name="url" [(ngModel)]="elemento.fabricante.url"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Teléfono</ion-label>
  <ion-input type="text" name="telefono" [(ngModel)]="elemento.fabricante.telefono"></ion-input>
</ion-item>
