<app-cabecera titulo = "Lavabo"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida3d [elemento] = "banera.medida"></app-medida3d>
    <ion-item>
      <ion-label position="floating">Material</ion-label>
      <ion-select value="0" interface="popover" name="material" [(ngModel)]="lavabo.material" required>
        <ion-select-option value="0">Sin definir</ion-select-option>
        <ion-select-option value="1">Cerámica</ion-select-option>
        <ion-select-option value="2">Metálica</ion-select-option>
        <ion-select-option value="3">Carga mineral</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Demuele</ion-label>
      <ion-toggle slot="start" name="demuele" [(ngModel)]="lavabo.demuele"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Griferia empotrada</ion-label>
      <ion-toggle slot="start" name="griferia_empotrada" [(ngModel)]="lavabo.griferia_empotrada"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mueble</ion-label>
      <ion-toggle slot="start" name="mueble" [(ngModel)]="lavabo.mueble"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Senos</ion-label>
      <ion-input type="number" name="senos" [(ngModel)]="lavabo.senos" required></ion-input>
    </ion-item>
    <app-observaciones [elemento] = "instalacion"></app-observaciones>
    <app-fabricante [elemento] = "instalacion"></app-fabricante>
  </ion-list>
</ion-content>

