
<ion-header>
  <ion-toolbar>
      <ion-title slot=start>
        <img alt="logo"  width="70%" style="position: relative" src="../../../assets/logo_reforcheck.png">
      </ion-title>
    <ion-buttons slot="secondary">
      <a routerLink="/home" routerLinkActive="active">
      <ion-button>
        pagina 1
      </ion-button>
    </a>
      <ion-button>
        pagina 2
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-buttons slot="primary">
    
    <ion-button >
      <ion-icon slot="icon-only" name="person-circle" item-left>
      <ion-select>
        <ion-select-option value="1">Option 1</ion-select-option>
        <ion-select-option value="1">Option 1</ion-select-option>
        <ion-select-option value="1">Option 1</ion-select-option>
      </ion-select>
    </ion-icon>
    </ion-button>
</ion-buttons>
    
  </ion-toolbar>
  
</ion-header>





