<app-cabecera titulo = "Inodoro"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida3d [elemento] = "inodoro.medida"></app-medida3d>
    <ion-item>
      <ion-label position="floating">Material</ion-label>
      <ion-select value="0" interface="popover" name="material" [(ngModel)]="inodoro.material" required>
        <ion-select-option value="0">Sin definir</ion-select-option>
        <ion-select-option value="1">Cerámica</ion-select-option>
        <ion-select-option value="2">Metálica</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Demuele</ion-label>
      <ion-toggle slot="start" name="demuele" [(ngModel)]="inodoro.demuele"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Suspendido</ion-label>
      <ion-toggle slot="start" name="suspendido" [(ngModel)]="inodoro.suspendido"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Ducheta</ion-label>
      <ion-toggle slot="start" name="ducheta" [(ngModel)]="inodoro.ducheta"></ion-toggle>
    </ion-item>
    <app-observaciones [elemento] = "inodoro"></app-observaciones>
    <app-fabricante [elemento] = "inodoro"></app-fabricante>
  </ion-list>
</ion-content>

