<app-cabecera titulo = "Puerta"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida3d [elemento] = "puerta.medida"></app-medida3d>
    <ion-item>
      <ion-label>Estandar</ion-label>
      <ion-toggle slot="start" name="estandar" [(ngModel)]="puerta.estandar"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mano</ion-label>
      <ion-select value="false" interface="popover" name="mano" [(ngModel)]="puerta.mano" required>
        <ion-select-option value="false">Derecha</ion-select-option>
        <ion-select-option value="true">Izquierda</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Espesor del tabique</ion-label>
      <ion-input type="text" name="espesor_tabique" [(ngModel)]="puerta.espesor_tabique" required></ion-input>
    </ion-item>
    <app-observaciones [elemento] = "puerta"></app-observaciones>
    <app-fabricante [elemento] = "puerta"></app-fabricante>
  </ion-list>
</ion-content>

