
<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="propietario">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Propietario</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inmueble" [disabled]="tabInmuebleDisabled" (propiedadValidado) = "activaTab($event)">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inmueble</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="plantas" [disabled]="tabPlantasDisabled" >
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Plantas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>