<ion-header>
  <ion-toolbar>
    <ion-title>
      Radiador (id: {{s_id}})
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <!--SECCIÓN DATOS-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Datos</H4>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-item>
              <ion-label position="floating">Largo</ion-label>
              <ion-input type="number" name="largo" [(ngModel)]="radiador.medida.largo" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item>
              <ion-label position="floating">Alto</ion-label>
              <ion-input type="number" name="alto" [(ngModel)]="radiador.medida.alto" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item>
              <ion-label position="floating">Ancho</ion-label>
              <ion-input type="number" name="ancho" [(ngModel)]="radiador.medida.ancho" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Unidad</ion-label>
              <ion-select value="0" interface="popover" name="unidad" [(ngModel)]="radiador.medida.unidad" required>
                <ion-select-option value="0">Sin definir</ion-select-option>
                <ion-select-option value="2">Metros</ion-select-option>
                <ion-select-option value="3">Centimetros</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Material</ion-label>
              <ion-select value="0" interface="popover" name="material" [(ngModel)]="radiador.material" required>
                <ion-select-option value="0">Sin definir</ion-select-option>
                <ion-select-option value="6">Hierro</ion-select-option>
                <ion-select-option value="7">Aluminio</ion-select-option>
                <ion-select-option value="8">Fundición</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Energía</ion-label>
              <ion-select value="" interface="popover" name="energia" [(ngModel)]="radiador.energia" required>
                <ion-select-option value="">Sin definir</ion-select-option>
                <ion-select-option value="electrica">Eléctrica</ion-select-option>
                <ion-select-option value="hidraulica">Hidraúlica</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Nº Elementos</ion-label>
              <ion-input type="number" name="num_elementos" [(ngModel)]="radiador.num_elementos" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!--SECCIÓN OBSERVACIONES-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Observaciones</H4>
        </ion-row>
        <ion-row>
          <ion-textarea rows="6" cols="20" name="info" [(ngModel)]="radiador.info" style="border: solid 1px black;"></ion-textarea>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!--SECCIÓN FABRICANTE-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Fabricante</H4>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Referencia</ion-label>
              <ion-input type="text" name="referencia" [(ngModel)]="radiador.fabricante.referencia"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="number" name="precio" [(ngModel)]="radiador.fabricante.precio"></ion-input>
              <ion-icon name="logo-euro" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" name="nombre" [(ngModel)]="radiador.fabricante.nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Direccion</ion-label>
              <ion-input type="text" name="direccion" [(ngModel)]="radiador.fabricante.direccion"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Url</ion-label>
              <ion-input type="text" name="url" [(ngModel)]="radiador.fabricante.url"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="text" name="telefono" [(ngModel)]="radiador.fabricante.telefono"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    
  </ion-grid>  
</ion-content>

