<app-cabecera titulo = "Mobiliario de obra"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" name="cantidad" [(ngModel)]="mobiliario_obra.cantidad" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unidad</ion-label>
      <ion-select value="0" interface="popover" name="unidad" [(ngModel)]="mobiliario_obra.unidad" required>
        <ion-select-option value="0">Sin definir</ion-select-option>
        <ion-select-option value="1">Unidades</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Desmontable</ion-label>
      <ion-toggle slot="start" name="desmontable" [(ngModel)]="mobiliario_obra.desmontable"></ion-toggle>
    </ion-item>
    <app-observaciones [elemento] = "mobiliario_obra"></app-observaciones>
    <app-fabricante [elemento] = "mobiliario_obra"></app-fabricante>
  </ion-list>
</ion-content>
