<app-cabecera titulo = "Banera"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida3d [elemento] = "banera.medida"></app-medida3d>
    <ion-item>
      <ion-label position="floating">Material</ion-label>
      <ion-select value="0" interface="popover" name="material" [(ngModel)]="banera.material" required>
        <ion-select-option value="0">Sin definir</ion-select-option>
        <ion-select-option value="1">Cerámica</ion-select-option>
        <ion-select-option value="2">Metálica</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Demuele</ion-label>
      <ion-toggle slot="start" name="demuele" [(ngModel)]="banera.demuele"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Griferia empotrada</ion-label>
      <ion-toggle slot="start" name="griferia_empotrada" [(ngModel)]="banera.griferia_empotrada"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mampara</ion-label>
      <ion-toggle slot="start" name="mampara" [(ngModel)]="banera.mampara"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Recta</ion-label>
      <ion-toggle slot="start" name="recta" [(ngModel)]="banera.recta"></ion-toggle>
    </ion-item>
    <div *ngIf="!banera.recta">
      <app-tramos [elemento]="banera" tipo="tramo"></app-tramos>
    </div>
    <app-observaciones [elemento] = "banera"></app-observaciones>
    <app-fabricante [elemento] = "banera"></app-fabricante>
  </ion-list>
</ion-content>

