<ion-card [routerLink]="['/unit/demolicion']">
  <ion-card-header>
    <ion-card-title>Demolición</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Albañilería</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Enlucidos y Guarnecidos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Electricidad</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Teleco y TV</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Calefacción</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Solados y Revestimientos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Falsos techos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Carpinteria Fachada</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Carpinteria Madera</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Pintura</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Planificadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start" color="warning"></ion-icon>
      <ion-label>Problemas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Finalizadas hoy/total</ion-label>
      <p slot="end">23/100</p>
    </ion-item>
  </ion-card-content>
</ion-card>
