<app-cabecera titulo = "Techo"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label>Falso techo</ion-label>
      <ion-toggle slot="start" name="falso_techo" [(ngModel)]="techo.falso_techo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Moldura</ion-label>
      <ion-toggle slot="start" name="moldura" [(ngModel)]="techo.moldura"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Demuele</ion-label>
      <ion-toggle slot="start" name="demuele" [(ngModel)]="techo.demuele"></ion-toggle>
    </ion-item>
    <app-observaciones [elemento] = "techo"></app-observaciones>
    <app-fabricante [elemento] = "techo"></app-fabricante>
  </ion-list>
</ion-content>

