<app-cabecera titulo = "Ventana"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida2d [elemento] = "ventana.medida"></app-medida2d>
    <ion-item>
      <ion-label>Persiana</ion-label>
      <ion-toggle slot="start" name="persiana" [(ngModel)]="ventana.persiana"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Capialzado</ion-label>
      <ion-toggle slot="start" name="capialzado" [(ngModel)]="ventana.capialzado"></ion-toggle>
    </ion-item>
    <app-observaciones [elemento] = "ventana"></app-observaciones>
    <app-fabricante [elemento] = "ventana"></app-fabricante>
  </ion-list>
</ion-content>
