<form #fAddElementos="ngForm" (ngSubmit)="addElementos(fAddElementos)">
<ion-grid fixed class="ion-padding">
  <ion-row>
    <ion-col size-lg="6" size-xs="6" size-md="6">
      <h5>Crear elementos para estancia</h5>
    </ion-col>
    <ion-col size-lg="3" size-xs="3" size-md="3">
      <ion-button type="submit" (click)="addElementos()">
        <ion-icon slot="start" name="add"></ion-icon>
        Añadir
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-xs="3" size-md="3">
      <ion-button type="button" (click)="limpiarForm()">
        <ion-icon slot="start" name="add"></ion-icon>
        Limpiar
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Mobiliario de Obra</ion-label>
        <ion-toggle slot="start" name="mobiliario_obra" [(ngModel)]="elementos.mobiliario_obra"></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Techo</ion-label>
        <ion-toggle slot="start" name="techo" [(ngModel)]="elementos.techo"></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Revestimiento</ion-label>
        <ion-toggle slot="start" name="revestimiento" [(ngModel)]="elementos.revestimiento">></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Solado</ion-label>
        <ion-toggle slot="start" name="solado" [(ngModel)]="elementos.solado">></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Rodapie</ion-label>
        <ion-toggle slot="start" name="rodapie" [(ngModel)]="elementos.rodapie">></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Pintura</ion-label>
        <ion-toggle slot="start" name="pintura" [(ngModel)]="elementos.pintura">></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Instalacion</ion-label>
        <ion-toggle slot="start" name="instalacion" [(ngModel)]="elementos.instalacion">></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size-lg="3" size-xs="12" size-md="3">
      <ion-item>
        <ion-label>Iluminacion</ion-label>
        <ion-toggle slot="start" name="iluminacion" [(ngModel)]="elementos.iluminacion">></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="4" size-xs="12" size-md="4">
      <ion-item>
        <ion-label>Ventanas</ion-label>
        <ion-input type="number" name="ventanas" [(ngModel)]="elementos.ventanas"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-lg="4" size-xs="12" size-md="4">
      <ion-item>
        <ion-label>Puertas</ion-label>
        <ion-input type="number" name="puertas" [(ngModel)]="elementos.puertas"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-lg="4" size-xs="12" size-md="4">
      <ion-item>
        <ion-label>Armarios</ion-label>
        <ion-input type="number" name="armarios" [(ngModel)]="elementos.armarios"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="6" size-xs="12" size-md="6">
      <ion-item>
        <ion-label>Radiadores</ion-label>
        <ion-input type="number" name="radiadores" [(ngModel)]="elementos.radiadores"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-lg="6" size-xs="12" size-md="6">
      <ion-item>
        <ion-label>Climatizacion</ion-label>
        <ion-input type="number" name="climatizacion" [(ngModel)]="elementos.climatizacion"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <div *ngIf="estancia.tipo === 'humeda'">
    <ion-row>
      <ion-col size-lg="4" size-xs="12" size-md="4">
        <ion-item>
          <ion-label>Baneras</ion-label>
          <ion-input type="number" name="baneras" [(ngModel)]="elementos.baneras"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-xs="12" size-md="4">
        <ion-item>
          <ion-label>Duchas</ion-label>
          <ion-input type="number" name="duchas" [(ngModel)]="elementos.duchas"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-xs="12" size-md="4">
        <ion-item>
          <ion-label>Lavabos</ion-label>
          <ion-input type="number" name="lavabos" [(ngModel)]="elementos.lavabos"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" size-xs="12" size-md="6">
        <ion-item>
          <ion-label>Inodoros</ion-label>
          <ion-input type="number" name="inodoros" [(ngModel)]="elementos.inodoros"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-xs="12" size-md="6">
        <ion-item>
          <ion-label>Bidets</ion-label>
          <ion-input type="number" name="bidets" [(ngModel)]="elementos.bidets"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
</form>

