<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Bidet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <!--SECCIÓN DATOS-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Datos</H4>
        </ion-row>
        <ion-row>
          <ion-col size-lg="2" size-xs="4" size-md="4">
            <ion-item>
              <ion-label position="floating">Largo</ion-label>
              <ion-input type="number" name="largo" [(ngModel)]="bidet.medida.largo" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="2" size-xs="4" size-md="4">
            <ion-item>
              <ion-label position="floating">Alto</ion-label>
              <ion-input type="number" name="alto" [(ngModel)]="bidet.medida.alto" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="2" size-xs="4" size-md="4">
            <ion-item>
              <ion-label position="floating">Ancho</ion-label>
              <ion-input type="number" name="ancho" [(ngModel)]="bidet.medida.ancho" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="2" size-xs="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Unidad</ion-label>
              <ion-select value="0" interface="popover" name="unidad" [(ngModel)]="bidet.medida.unidad" required>
                <ion-select-option value="0">Sin definir</ion-select-option>
                <ion-select-option value="2">Metros</ion-select-option>
                <ion-select-option value="3">Centimetros</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Material</ion-label>
              <ion-select value="0" interface="popover" name="material" [(ngModel)]="bidet.material" required>
                <ion-select-option value="0">Sin definir</ion-select-option>
                <ion-select-option value="1">Cerámica</ion-select-option>
                <ion-select-option value="2">Metálica</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="6" size-xs="12" size-md="6">
            <ion-item>
              <ion-label>Demuele</ion-label>
              <ion-toggle slot="start" name="demuele" [(ngModel)]="bidet.demuele"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col size-lg="6" size-xs="12" size-md="6">
            <ion-item>
              <ion-label>Suspendido</ion-label>
              <ion-toggle slot="start" name="suspendido" [(ngModel)]="bidet.suspendido"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-row>
    <!--SECCIÓN OBSERVACIONES-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Observaciones</H4>
        </ion-row>
        <ion-row>
          <ion-textarea rows="6" cols="20" name="info" [(ngModel)]="bidet.info" style="border: solid 1px black;"></ion-textarea>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!--SECCIÓN FABRICANTE-->
    <ion-row>
      <ion-grid fixed>
        <ion-row>
          <H4>Fabricante</H4>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Referencia</ion-label>
              <ion-input type="text" name="referencia" [(ngModel)]="bidet.fabricante.referencia"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="number" name="precio" [(ngModel)]="bidet.fabricante.precio"></ion-input>
              <ion-icon name="logo-euro" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" name="nombre" [(ngModel)]="bidet.fabricante.nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Direccion</ion-label>
              <ion-input type="text" name="direccion" [(ngModel)]="bidet.fabricante.direccion"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Url</ion-label>
              <ion-input type="text" name="url" [(ngModel)]="bidet.fabricante.url"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-lg="4" size-xs="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="text" name="telefono" [(ngModel)]="bidet.fabricante.telefono"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    
  </ion-grid>  
</ion-content>

