<ion-item>
  <ion-label position="floating">Largo</ion-label>
  <ion-input type="text" name="largo" [(ngModel)]="elemento.largo" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Alto</ion-label>
  <ion-input type="text" name="alto" [(ngModel)]="elemento.alto" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ancho</ion-label>
  <ion-input type="text" name="ancho" [(ngModel)]="elemento.ancho" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Unidad</ion-label>
  <ion-select value="0" interface="popover" name="unidad" [(ngModel)]="elemento.unidad" required>
    <ion-select-option value="0">Sin definir</ion-select-option>
    <ion-select-option value="2">Metros</ion-select-option>
    <ion-select-option value="3">Centimetros</ion-select-option>
  </ion-select>
</ion-item>
