<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Editar {{s_tipo}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #fEditPropiedad="ngForm">
  <div *ngIf="s_tipo === 'propiedad'">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre del propietario</ion-label>
          <ion-input type="name" name="nombre_propietario" [(ngModel)]="propiedad.nombre_propietario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dni del propietario</ion-label>
          <ion-input type="text" name="dni_propietario" [(ngModel)]="propiedad.dni_propietario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono del propietario</ion-label>
          <ion-input type="tel" name="telf_propietario" [(ngModel)]="propiedad.telf_propietario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email del propietario</ion-label>
          <ion-input type="email" name="email_propietario" [(ngModel)]="propiedad.email_propietario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input type="street-address" name="direccion" [(ngModel)]="propiedad.direccion" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo de propiedad</ion-label>
          <ion-select value="" name="tipo" [(ngModel)]="propiedad.tipo" required>
            <ion-select-option value="">Selecciona...</ion-select-option>
            <ion-select-option value="chalet">Chalet</ion-select-option>
            <ion-select-option value="piso">Piso</ion-select-option>
            <ion-select-option value="local">Local</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Posición GPS</ion-label>
          <ion-input type="text" name="gps" [(ngModel)]="propiedad.gps" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha contrucción edificio</ion-label>
          <ion-datetime value="1995-01-01" placeholder="Selecciona día" name="fecha_construccion" [(ngModel)]="propiedad.fecha_construccion"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha última reforma</ion-label>
          <ion-datetime value="1995-01-01" placeholder="Selecciona día" name="fecha_ultima_reforma" [(ngModel)]="propiedad.fecha_ultima_reforma"></ion-datetime>
        </ion-item>
      </ion-list>
  </div>
  <div *ngIf="s_tipo === 'planta'">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="name" name="nombre" [(ngModel)]="planta.nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número</ion-label>
          <ion-input type="number" name="numero" [(ngModel)]="planta.numero" required></ion-input>
        </ion-item>
      </ion-list>
  </div>
  <div *ngIf="s_tipo === 'estancia'">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="estancia.nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select value="default" name="tipo" [(ngModel)]="estancia.tipo" required>
            <ion-select-option value="default">Selecciona...</ion-select-option>
            <ion-select-option value="seca">Seca</ion-select-option>
            <ion-select-option value="humeda">Húmeda</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Subtipo</ion-label>
          <ion-select value="default" name="subtipo" [(ngModel)]="estancia.subtipo" required>
            <div *ngIf="estancia.tipo === 'default'">
              <ion-select-option value="default" >Selecciona...</ion-select-option>
            </div>
            <div *ngIf="estancia.tipo === 'seca'">
              <ion-select-option value="default" >Selecciona...</ion-select-option>
              <ion-select-option value="habitacion">Habitación</ion-select-option>
              <ion-select-option value="salon">Salón</ion-select-option>
              <ion-select-option value="pasillo">Pasillo</ion-select-option>
              <ion-select-option value="recibidor">Recibidor</ion-select-option>
            </div>
            <div *ngIf="estancia.tipo === 'humeda'">
              <ion-select-option value="" >Selecciona...</ion-select-option>
              <ion-select-option value="baño">Baño</ion-select-option>
              <ion-select-option value="cocina">Cocina</ion-select-option>
              <ion-select-option value="lavadero">Lavadero</ion-select-option>
              <ion-select-option value="aseo">Aseo</ion-select-option>
              <ion-select-option value="tendedero">Tendedero</ion-select-option>
              <ion-select-option value="cuarto_plancha">Cuarto plancha</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Largo</ion-label>
                <ion-input type="street-address" name="largo" [(ngModel)]="estancia.medida.largo" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Ancho</ion-label>
                <ion-input type="street-address" name="ancho" [(ngModel)]="estancia.medida.ancho" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Alto</ion-label>
                <ion-input type="street-address" name="alto" [(ngModel)]="estancia.medida.alto" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label>Unidad</ion-label>
          <ion-select value="default" name="unidad" [(ngModel)]="estancia.medida.unidad" required>
            <ion-select-option value="0">Selecciona...</ion-select-option>
            <ion-select-option value="2">Metros</ion-select-option>
            <ion-select-option value="3">Centimetros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </div>
</form>
</ion-content>
