.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
  }
  
  .collapsed {
    max-height: 0 !important;
  }

.max-width-menu{
  width: calc(100% - 70px) !important;
}