<app-cabecera titulo = "Ducha"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <app-medida2d [elemento] = "ducha.medida"></app-medida2d>
    <ion-item>
      <ion-label position="floating">Material</ion-label>
      <ion-select value="0" interface="popover" name="material" [(ngModel)]="ducha.material" required>
        <ion-select-option value="0">Sin definir</ion-select-option>
        <ion-select-option value="1">Cerámica</ion-select-option>
        <ion-select-option value="2">Metálica</ion-select-option>
        <ion-select-option value="3">Carga mineral</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Demuele</ion-label>
      <ion-toggle slot="start" name="demuele" [(ngModel)]="ducha.demuele"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Griferia empotrada</ion-label>
      <ion-toggle slot="start" name="griferia_empotrada" [(ngModel)]="ducha.griferia_empotrada"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mampara</ion-label>
      <ion-toggle slot="start" name="mampara" [(ngModel)]="ducha.mampara"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Recta</ion-label>
      <ion-toggle slot="start" name="recta" [(ngModel)]="ducha.recta"></ion-toggle>
    </ion-item>
    <div *ngIf="!ducha.recta">
      <app-tramos [elemento]="ducha" tipo="tramo"></app-tramos>
    </div>
    <app-observaciones [elemento] = "ducha"></app-observaciones>
    <app-fabricante [elemento] = "ducha"></app-fabricante>
  </ion-list>
</ion-content>

