<app-cabecera titulo = "Climatización"></app-cabecera>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label>Bomba de calor</ion-label>
      <ion-toggle slot="start" name="bomba_calor" [(ngModel)]="climatizacion.bomba_calor"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Red de conductos</ion-label>
      <ion-toggle slot="start" name="red_conductos" [(ngModel)]="climatizacion.red_conductos"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Ventilador</ion-label>
      <ion-toggle slot="start" name="ventilador" [(ngModel)]="climatizacion.ventilador"></ion-toggle>
    </ion-item>
    <app-observaciones [elemento] = "bidet"></app-observaciones>
    <app-fabricante [elemento] = "bidet"></app-fabricante>
  </ion-list>
</ion-content>

