<ion-split-pane contentId="mainMenu">
  <ion-menu side="start" menuId="mainMenu" contentId="mainMenu">
    <ion-header>
      <ion-toolbar>
        <div class="logo_menu">
          <img alt="logo" src="../../../assets/logo_reforcheck.png">
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content id="mainMenu">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" routerLink="p.url" *ngIf="(rol!='' && (p.rol===rol || p.rol==='both'))||(rol==='' && p.rol==='inicio')">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main id="mainMenu"></ion-router-outlet>
</ion-split-pane>

